@model LoginModel
@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Login";
}

@if (TempData["SuccessMessage"] != null)
{

    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-light btn-sm close-alert" aria-label="Close">x</button>
        @TempData["SuccessMessage"]
    </div>

}

@if (TempData["ErrorMessage"] != null)
{

    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-light btn-sm close-alert" aria-label="Close">x</button>
        @TempData["ErrorMessage"]
    </div>

}

<form asp-controller="Login" asp-action="Enter" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <p class="mb-4 text-sm mx-auto">
        Forgot your password?
        <a asp-action="RedefinePassword" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Reset my password</a>
    </p>

    <button type="submit" class="btn btn-light">Submit</button>
</form>
