@model RedefinePasswordModel
@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Redefine Password";
}

@if (TempData["ErrorMessage"] != null)
{

    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-light btn-sm close-alert" aria-label="Close">x</button>
        @TempData["ErrorMessage"]
    </div>

}

<form asp-controller="Login" asp-action="ResetPasswordLink" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <button type="submit" class="btn btn-light">Reset</button>
    <a class="btn btn-light" asp-controller="Login" asp-action="Index" role="button">Back</a>
</form>
