@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Restricted Page";
}

<p>You do not have permission to access this functionality, <a asp-controller="Home" asp-action="Index">return to Home.</a></p>

